<h1 class="text-center my-4">Edit Product Line Item</h1>
<div *ngIf="message" class="alert text-center mx-auto w-50"
    [ngClass]="{'alert-danger': submissionError, 'alert-success': !submissionError}">{{ message }}
</div>

<div class="container w-50">
    <div class="card shadow-sm">
        <div class="card-body">
        <form [formGroup]="productLineItemForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input id="id" formControlName="id" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="barCodeId" class="form-label">Bar Code ID</label>
                <input id="barCodeId" formControlName="barCodeId" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="productId" class="form-label">Product ID</label>
                <input id="productId" formControlName="productId" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="cost" class="form-label">Cost</label>
                <input id="cost" formControlName="cost" type="number" min="0" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="displayPrice" class="form-label">Display Price</label>
                <input id="displayPrice" formControlName="displayPrice" type="number" min="0" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="discountedPrice" class="form-label">Discounted Price</label>
                <input id="discountedPrice" formControlName="discountedPrice" type="number" min="0" class="form-control" />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary mt-2 m-1" [disabled]="productLineItemForm.invalid">Update
                    Product Line Item</button>
            </div>
        </form>
    </div>
</div>
</div>