<h2 mat-dialog-title>{{ data.mode === 'edit' ? 'Edit Product' : 'Add Product' }}</h2>
<mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>ID</mat-label>
      <input matInput type="text" formControlName="id" placeholder="ID" [readonly]="data.mode === 'edit'" />
      <!-- show error message -->
      @if (productForm.get('id')?.hasError('required')) {
        <mat-error>
          ID is <strong>required</strong>
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name" />
      @if (productForm.get('name')?.hasError('required')) {
        <mat-error>
          Product Name is <strong>required</strong>
        </mat-error>
      }
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" class="full-width">
    <mat-label>Category</mat-label>
    <input matInput type="text" formControlName="categoryId" placeholder="Category" />
  </mat-form-field> -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Category</mat-label>
    <mat-select formControlName="categoryId">
      @for (category of categories; track category) {
        <mat-option [value]="category.id">{{ category.name }}</mat-option>
      }
    </mat-select>
    @if (productForm.get('categoryId')?.hasError('required')) {
      <mat-error>
        Category is <strong>required</strong>
      </mat-error>
    }
  </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button color="secondary" (click)="onSave()">Save</button>
</mat-dialog-actions>