<h2 mat-dialog-title>{{ data.mode === 'edit' ? 'Edit Product' : 'Add Product' }}</h2>
<mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>ID</mat-label>
      <input matInput type="text" formControlName="id" placeholder="ID" [readonly]="data.mode === 'edit'" />
      <!-- show error message -->
      <mat-error *ngIf="productForm.get('id')?.hasError('required')">
        ID is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name" />
      <mat-error *ngIf="productForm.get('name')?.hasError('required')">
        Product Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" class="full-width">
      <mat-label>Category</mat-label>
      <input matInput type="text" formControlName="categoryId" placeholder="Category" />
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">
        Category is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button color="secondary" (click)="onSave()">Save</button>
</mat-dialog-actions>