<h1 class="text-center my-4">Delete Product Line Item</h1>
<div *ngIf="message" class="alert text-center mx-auto w-50"
    [ngClass]="{'alert-danger': isError, 'alert-success': !isError}">{{ message }}
</div>

<div class="container w-50">
    <div class="card shadow-sm">
        <div class="card-body">
            <form (ngSubmit)="deleteProductLineItem(productLineItemId)" class="p-5">
                <div class="mb-3">
                    <label for="productLineItemId" class="form-label">Product Line Item ID</label>
                    <input id="productLineItemId" [(ngModel)]="productLineItemId" name="productLineItemId" class="form-control" />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-danger mt-2 m-1">Delete Product Line Item</button>
                </div>
            </form>
        </div>
    </div>
</div>
