.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px; /* Give it enough width */
  padding-top: 10px;
}

.full-width {
  width: 100%;
}


.submit-button {
  margin: 1rem;
}

.content-scroll {
  max-height: 65vh;
  overflow-y: auto;
  padding: 0 24px;
}
h2[mat-dialog-title] {
  margin: 0;
  padding: 24px 24px 10px 24px; /* Top, Right, Bottom, Left */
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
div[mat-dialog-actions] {
  padding: 16px 24px 24px 24px; /* Extra padding at bottom to lift buttons up */
  margin-bottom: 0;
  border-top: none; /* Ensure line is gone */
}