<!-- <pos-card-wrapper width="75"> -->
<h2 mat-dialog-title>{{ data.mode === 'edit' ? 'Edit Product Line Item' : 'Add Product Line Item' }}</h2>
<div mat-dialog-content class="content-scroll">
  <form [formGroup]="lineItemForm" class="dialog-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" required>
      @if (lineItemForm.get('id')?.hasError('required')) {
        <mat-error>
          ID is required.
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Barcode</mat-label>
      <input matInput formControlName="barCodeId" required>
      @if (lineItemForm.get('barCodeId')?.hasError('required')) {
        <mat-error>
          Barcode is required.
        </mat-error>
      }
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
    <mat-label>Product ID</mat-label>
    <input matInput formControlName="productId" required>
    <mat-error *ngIf="lineItemForm.get('productId')?.hasError('required')">
      Product ID is required.
    </mat-error>
  </mat-form-field> -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Product</mat-label>
    <mat-select formControlName="productId" required>
      @for (product of products; track product) {
        <mat-option [value]="product.id">{{ product.name }}</mat-option>
      }
    </mat-select>
    @if (lineItemForm.get('productId')?.hasError('required')) {
      <mat-error>
        Product is required.
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Cost</mat-label>
    <input matInput formControlName="cost" required>
    @if (lineItemForm.get('cost')?.hasError('required')) {
      <mat-error>
        Cost is required.
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Display Price</mat-label>
    <input matInput formControlName="displayPrice" required>
    @if (lineItemForm.get('displayPrice')?.hasError('required')) {
      <mat-error>
        Display Price is required.
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Discounted Price</mat-label>
    <input matInput formControlName="discountedPrice" required>
    @if (lineItemForm.get('discountedPrice')?.hasError('required')) {
      <mat-error>
        Discounted Price is required.
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Quantity</mat-label>
    <input matInput formControlName="quantity" required>
    @if (lineItemForm.get('quantity')?.hasError('required')) {
      <mat-error>
        Quantity is required.
      </mat-error>
    }
  </mat-form-field>
</form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onClose()">Cancel</button>
  <button mat-raised-button (click)="onSave()" color="primary" class="submit-button" type="submit"
  [disabled]="lineItemForm.invalid">Save</button>
</div>
<!-- </pos-card-wrapper> -->