<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/catalog']">Catalog</a>
      <a mat-list-item [routerLink]="['/category-management']">Category Management</a>
      <a mat-list-item [routerLink]="['/product-management']">Product Management</a>
      <a mat-list-item [routerLink]="['/product-line-item-management']">Product Line Item Management</a>
      <a mat-list-item [routerLink]="['/pos-sales']">POS Sales</a>
      <a mat-list-item [routerLink]="['/product-list']">Product List</a>
      <a mat-list-item [routerLink]="['/product-create']">Product Create</a>
      <a mat-list-item [routerLink]="['/product-edit']">Product Edit</a>
      <a mat-list-item [routerLink]="['/product-delete']">Product Delete</a>
      <a mat-list-item [routerLink]="['/product-line-item-list']">Product Line Item List</a>
      <a mat-list-item [routerLink]="['/product-line-item-create']">Product Line Item Create</a>
      <a mat-list-item [routerLink]="['/product-line-item-edit']">Product Line Item Edit</a>
      <a mat-list-item [routerLink]="['/product-line-item-delete']">Product Line Item Delete</a>
      <a mat-list-item [routerLink]="['/category-list']">Category List</a>
      <a mat-list-item [routerLink]="['/category-create']">Category Create</a>
      <a mat-list-item [routerLink]="['/category-edit']">Category Edit</a>
      <a mat-list-item [routerLink]="['/category-delete']">Category Delete</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isHandset$ | async" type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="!(isHandset$ | async)">POS System</span>
      <span class="spacer"></span>

      <div *ngIf="currentUser$ | async as user" class="user-controls">
        <span class="welcome-message">Welcome, {{ user.fullName }}</span>

        <mat-divider [vertical]="true"></mat-divider>

        <button mat-flat-button (click)="onLogout()" aria-label="logout-button">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>