
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.welcome-message{
  margin-right: 0 12px;
  font-size: 0.9em;
  font-weight: 400;
}
.spacer {
  flex: 1 1 auto;
}
.user-controls {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
  margin-right: 16px;
}
.user-controls button span {
  margin-left: 8px;
}
.user-controls mat-divider {
  height: 50%; // Make the divider not too tall
  border-right-color: rgba(255, 255, 255, 0.3); // Make it a subtle white
}
.logout-button {
  margin-left: 12px;
  // Style for the stroked button
  --mdc-outlined-button-label-text-color: white;
  --mdc-outlined-button-outline-color: rgba(255, 255, 255, 0.3);
  --mat-icon-color: white;

  // Change style on hover
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.logout-button span {
  margin-left: 8px;
}