<h1 class="text-center my-4">Edit Category</h1>
<div *ngIf="message" class="alert text-center mx-auto w-50"
    [ngClass]="{'alert-danger': submissionError, 'alert-success': !submissionError}">{{ message }}
</div>

<div class="container w-50">
    <div class="card shadow-sm">
        <div class="card-body">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="p-2">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" id="id" formControlName="id" class="form-control" required="true"/>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" formControlName="name" class="form-control" required="true"/>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary mt-2 m-1" [disabled]="categoryForm.invalid">Update Category</button>
                </div>
            </form>
        </div>
    </div>
</div>
