<h2 mat-dialog-title>Add New User</h2>
<mat-dialog-content>
    <form [formGroup]="userForm">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>branchId</mat-label>
            <input matInput formControlName="branchId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select>
                <mat-option value={{userRoles.ADMIN}}>Admin</mat-option>
                <mat-option value={{userRoles.CASHIER}}>Cashier</mat-option>
                <mat-option value={{userRoles.STOCK_CLERK}}>Stock Clerk</mat-option>
                <mat-option value={{userRoles.MANAGER}}>Manager</mat-option>
                <mat-option value={{userRoles.ACCOUNTANT}}>Accountant</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-stroked-button (click)="dialogRef.close()" class="btn-close-form">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSubmit(userForm.value)" class="btn-add-user">Add User</button>
    </form>
</mat-dialog-content>
