@if (message) {
  <div class="alert alert-danger">{{ message }}</div>
}
@if (categories$ | async; as categories) {
  <mat-accordion>
    @for (category of categories; track category) {
      <mat-expansion-panel (opened)="selectCategory(category.id)">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ category.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <pos-product-list [categoryId]="category.id"></pos-product-list>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
