<h2 mat-dialog-title>{{data.mode === 'edit' ? 'Edit Category' : 'New Category'}}</h2>
<mat-dialog-content>
    <form [formGroup]="categoryForm">
        <!-- id input -->
        <mat-form-field appearance="outline" class="full-width" *ngIf ="data.mode !== 'edit'"> 
            <mat-label>ID</mat-label>
            <input matInput type="text" formControlName="id" placeholder="ID" />
            <!-- error message -->
            <mat-error *ngIf="categoryForm.get('id')?.hasError('required')">ID is <strong>required</strong></mat-error>
        </mat-form-field>
        <!-- name input -->
        <mat-form-field appearance="outline" class="full-width"> 
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Name" />
            <!-- error message -->
            <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">Name is <strong>required</strong></mat-error>
        </mat-form-field>
    </form>    
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button color="secondary" (click)="onSave()">Save</button>
</mat-dialog-actions>